div{
  width: 24px;
  height: 24px;
  border:  1px solid red;
  border-radius: 100%;
  background-image: url(https://blended.amauonline.com/pluginfile.php/1/theme_nephila/loginbanner/1517389281/BlendedLearningLogo.png) ;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
}

img{
  border: 10px groove orangered;
  width: 100px;
  box-sizing: border-box;
  padding: 10px;

}
